@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
*{box-sizing: border-box;}
body, input, button{font-family: 'Mulish', sans-serif;}
body{
    background-image: url(/img-src/M4-desafio1-fondo.png);
}
input{
    width:500px;
    height: 50px;
}
div{
    background-image: url(/img-src/M4-desafio1-fondo-form.png);
    width: 50%;
    margin: auto;
    padding: 30px;
}
form{
 width: 600px;
    background-color: white;
    margin: auto;
    height: 400px;
    padding: 20px;
    text-align: center;
    
}
input{
margin-top: 10px;
font-weight: 400;
font-size: 22.666666666666664px;
}
h1{
    font-weight: 700;
    font-size: 32.64px;
    text-align: center;
    color: #04146c;
}
button{
width: 500px;
color: white;
font-weight: 600;
background-color: #15163d;
border: none;
font-size: 22.666666666666664px;
padding:10px;
display: block;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}